[submodule "dependencies/Slim"]
	path = dependencies/Slim
	url = git://github.com/codeguy/Slim.git
[submodule "dependencies/Slim-Extras"]
	path = dependencies/Slim-Extras
	url = git://github.com/codeguy/Slim-Extras.git
[submodule "dependencies/twitter-bootstrap"]
	path = dependencies/twitter-bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "dependencies/Twig"]
	path = dependencies/Twig
	url = git://github.com/fabpot/Twig.git
