# mite. API Authentication
# You must enable the mite.api for your user within the webinterface of mite! It is disabled by default.

title: "YOUR SITE TITLE"
brand: "YOUR BRAND"
support_email: "your.name@example.com"

mite:
    account: "YOUR MITE ACCOUNT"
    api_key: "YOUR MITE API KEY"

slim_framework:
    settings:
        mode: "production"
    authentication:
        admin_users:
            "ADMIN_USERNAME":
                password: "PASSWORD FOR ADMIN USER"
                authorized_urls:
                    - "/(.*)"
            "ANOTHER_ADMIN_USERNAME":
                password: "PASSWORD FOR ANOTHER ADMIN USER"
                authorized_urls:
                    - "/(.*)"
    authorization:
        public_urls:
            - "/"
        login_url: "/accounts/login/"
        loggedin_url: "/accounts/loggedin/"

accounts:
    "YOUR_ACCOUNT_IDENTIFIER":
        mite_customer_name: "NAME OF YOUR MITE CUSTOMER"
        informal_salutation: "INFORMAL SALUTATION FOR YOUR CUSTOMER"
        password: "PASSWORD FOR YOUR CUSTOMER"
        authorized_urls:
            - "/accounts/YOUR_ACCOUNT_IDENTIFIER/(.*)"
    "ANOTHER_ACCOUNT_IDENTIFIER":
        mite_customer_name: "NAME OF ANOTHER MITE CUSTOMER"
        informal_salutation: "INFORMAL SALUTATION FOR YOUR CUSTOMER"
        password: "PASSWORD FOR YOUR CUSTOMER"
        authorized_urls:
            - "/accounts/ANOTHER_ACCOUNT_IDENTIFIER/(.*)"
    "YET_ANOTHER_ACCOUNT_IDENTIFIER":
        mite_customer_name: "NAME OF YET ANOTHER MITE CUSTOMER"
        informal_salutation: "INFORMAL SALUTATION FOR YOUR CUSTOMER"
        password: "PASSWORD FOR YOUR CUSTOMER"
        authorized_urls:
            - "/accounts/YET_ANOTHER_ACCOUNT_IDENTIFIER/(.*)"