{% include 'includes/header.twig' %}
<div class="page-header">
  <h1>Accounts <small>{{ brand }}</small></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for id, account in accounts %}
      <tr>
        <td>
          <a href="{{ urlFor('account', {"id": id }) }}">
            <abbr title="{{ id }}">{{ account['mite_customer_name'] }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/footer.twig' %}