{% include 'includes/header.twig' %}
<div class="page-header">
  <h1>Account <small>{{ account_name }}</small></h1>
</div>

<h2>Projects</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
      <tr>
        <td>
          <a href="{{ urlFor('project', {"accountid": account_id, "projectid": project['project']['id']}) }}">
            {{ project['project']['name'] }}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/footer.twig' %}