{% include 'includes/header.twig' %}

<div class="container">

  <div class="page-header">
    <h1>Accounts <small>{{ brand }}</small></h1>
  </div>
  
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="actions">&nbsp;</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for accountid, account in accounts %}
        <tr>
          <td class="pull-right">
            <a href="{{ urlFor('account', {"accountid": accountid }) }}" class="btn btn-info btn-mini"><i class="icon-list-alt icon-white"></i>&nbsp;Project list&nbsp;»</a>
          </td>
          <td>
            <abbr title="{{ accountid }}">{{ account['mite_customer_name'] }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div> <!-- /container -->

{% include 'includes/footer.twig' %}