{% include 'includes/header.twig' %}

<div class="container">
  
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Welcome!</h1>
    <blockquote class="pull-right">
      <p>A lot of work has already been done.</p>
      <small>{{ brand }}</small>
    </blockquote>
    <p>&nbsp;</p>
    <p><a class="btn btn-primary btn-large" href="{{ urlFor('accounts') }}"><i class="icon-briefcase icon-white"></i>&nbsp;Account list&nbsp;»</a></p>
  </div>

  {% include 'includes/copyright.twig' %}

</div> <!-- /container -->

{% include 'includes/footer.twig' %}