{% include 'includes/header.twig' %}

<div class="container">
  
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Welcome!</h1>
    <p>A lot of work has already been done...</p>
    <p><a class="btn btn-primary btn-large" href="{{ urlFor('accounts') }}"><i class="icon-list-alt icon-white"></i>&nbsp;Accounts&nbsp;»</a></p>
  </div>

</div> <!-- /container -->

{% include 'includes/footer.twig' %}